.header-background-shape-deskto {
  position: absolute;
  top: 1px;
  left: 0;
  width: 1440px;
  height: 916px;
}
.about-myself-background-sha,
.contact-form-background-shape {
  position: absolute;
  top: 3611px;
  left: 0;
  width: 1440px;
  height: 924px;
}
.contact-form-background-shape {
  top: 4279px;
  height: 846px;
}
.primary-text,
.primary-text1 {
  position: relative;
  flex-shrink: 0;
}
.primary-text {
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 801px;
  height: 56px;
}
.primary-text1 {
  font-size: var(--body-1-size);
  line-height: 28px;
  color: var(--primary-b50);
  display: inline-block;
  width: 569px;
  height: 102px;
}
.containerbasic-icon {
  position: absolute;
  width: 100%;
  top: calc(50% - 24px);
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 49px;
}
.input-text {
  position: absolute;
  width: calc(100% - 54px);
  top: calc(50% - 9px);
  left: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  height: 18px;
}
.text-fieldactivated {
  position: relative;
  width: 447px;
  height: 48px;
}
.containerbasic-icon1 {
  position: absolute;
  width: 100%;
  top: calc(50% - 25px);
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 50px;
}
.container {
  position: absolute;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 2px;
  background-color: var(--neutrals-n0);
  border: 1px solid var(--base-100);
  box-sizing: border-box;
}
.containerbasic {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.input-text2 {
  position: absolute;
  height: calc(100% - 30px);
  width: calc(100% - 54px);
  top: 15px;
  left: 16px;
  line-height: 24px;
  display: inline-block;
}
.text-area {
  position: relative;
  width: 447px;
  height: 170px;
  font-size: var(--body-3-bolder-size);
  color: var(--neutrals-n60);
}
.get-in-touch {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 24px;
  font-weight: 500;
}
.form,
.normal-buttonprimaryenabled,
.text {
  overflow: hidden;
  justify-content: flex-start;
}
.normal-buttonprimaryenabled {
  border-radius: var(--br-5xs);
  background-color: var(--neutrals-n0);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) 16px;
  text-align: center;
  color: var(--primary-b400);
}
.form,
.text {
  flex-direction: column;
}
.form {
  display: flex;
  align-items: center;
  gap: 27px;
  text-align: left;
  font-size: var(--button-normal-size);
  color: var(--neutral-n800);
}
.text {
  gap: var(--gap-xs);
}
.left-block,
.primary-text2,
.text {
  display: flex;
  align-items: center;
}
.left-block {
  position: absolute;
  top: 4421px;
  left: 320px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  color: var(--neutrals-n0);
}
.primary-text2 {
  position: relative;
  font-size: var(--header-2-size);
  line-height: 52px;
  width: 447px;
  height: 33px;
  flex-shrink: 0;
}
.lets-connect,
.primary-text3 {
  position: relative;
  line-height: 24px;
}
.primary-text3 {
  color: var(--neutrals-n600);
  display: inline-block;
  width: 447px;
  height: 102px;
  flex-shrink: 0;
}
.lets-connect {
  font-weight: 500;
}
.supporting-text {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.iconsicon-github {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.normal-buttontertiarydisable {
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.social-media,
.text1 {
  flex-direction: column;
  align-items: flex-start;
}
.social-media {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  color: var(--primary-b300);
}
.text1 {
  gap: var(--gap-xs);
}
.left-block1,
.normal-buttonsecondaryenable,
.text1 {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.normal-buttonsecondaryenable {
  border-radius: var(--br-5xs);
  border: 1px solid var(--primary-b400);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs);
  text-align: center;
  font-size: var(--button-normal-size);
  color: var(--primary-b500);
}
.left-block1 {
  position: absolute;
  top: 3777px;
  left: 143px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--body-2-bolder-size);
}
.container1,
.containerbasic1 {
  position: absolute;
  border-radius: var(--br-5xl);
}
.container1 {
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background-color: var(--neutrals-n0);
  border: 1px solid var(--neutrals-n40);
  box-sizing: border-box;
}
.containerbasic1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.primary-text4 {
  position: absolute;
  top: 128px;
  left: 24px;
  overflow: hidden;
}
.project-title {
  position: relative;
  line-height: 52px;
  display: inline-block;
  width: 496px;
  height: 46px;
  flex-shrink: 0;
}
.client {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  color: var(--neutrals-n600);
}
.counter,
.text3 {
  position: relative;
}
.counter {
  border-radius: 50%;
  background-color: var(--neutrals-n50);
  width: 8px;
  height: 8px;
}
.text3 {
  line-height: 24px;
}
.client-parent,
.role {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.role {
  padding: var(--padding-5xs) 0;
}
.client-parent {
  gap: var(--gap-xs);
  font-size: var(--font-size-lg);
  color: var(--theme-1-neutrals-6);
}
.primary-text6 {
  position: relative;
  font-size: var(--body-2-bolder-size);
  line-height: 24px;
  color: var(--neutrals-n600);
  display: inline-block;
  width: 496px;
  height: 50px;
  flex-shrink: 0;
}
.html {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 16px;
  font-weight: 500;
}
.tag {
  border-radius: var(--br-5xs);
  background-color: var(--primary-b50);
  padding: var(--padding-9xs) var(--padding-xs);
}
.normal-buttonsecondaryenable1,
.tag,
.tags {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.tags {
  gap: var(--gap-5xs);
  font-size: var(--button-small-size);
  color: var(--primary-b400);
}
.normal-buttonsecondaryenable1 {
  position: absolute;
  top: 15.5px;
  left: -0.5px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--primary-b400);
  padding: var(--padding-xs);
}
.action {
  position: relative;
  width: 496px;
  height: 153px;
  text-align: center;
  font-size: var(--button-normal-size);
  color: var(--primary-b500);
}
.left-block2,
.snapshoot-portfolio-icon {
  position: absolute;
  top: 24px;
  overflow: hidden;
}
.left-block2 {
  left: 590px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl);
  gap: var(--gap-5xl);
}
.snapshoot-portfolio-icon {
  left: 24px;
  border-radius: var(--br-5xs);
  width: 544px;
  height: 448px;
  object-fit: cover;
}
.portoflio-cardenabled,
.primary-text9 {
  position: relative;
  width: 1156px;
  height: 496px;
}
.primary-text9 {
  font-size: var(--body-2-bolder-size);
  line-height: 24px;
  color: var(--neutrals-n600);
  display: inline-block;
  width: 496px;
  height: 70px;
  flex-shrink: 0;
}
.left-block3,
.snapshoot-portfolio-icon1 {
  position: absolute;
  top: 24px;
  overflow: hidden;
}
.left-block3 {
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl);
  gap: var(--gap-5xl);
}
.snapshoot-portfolio-icon1 {
  left: 590px;
  border-radius: var(--br-5xs);
  width: 544px;
  height: 448px;
  object-fit: cover;
}
.container3 {
  position: absolute;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: var(--br-5xl);
  background-color: var(--neutrals-n0);
  border: 2px solid var(--primary-b200);
  box-sizing: border-box;
}
.normal-buttonprimaryhover {
  position: absolute;
  top: 16px;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--primary-b5001);
  box-shadow: var(--button-1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.hand-cursor-1-icon {
  position: absolute;
  top: 16px;
  left: 376px;
  width: 80.36px;
  height: 80.36px;
  object-fit: cover;
}
.action2 {
  position: relative;
  width: 496px;
  height: 153px;
  text-align: center;
  font-size: var(--button-normal-size);
  color: var(--neutrals-n0);
}
.portoflio-cardhover {
  position: relative;
  box-shadow: var(--base-soft);
  width: 1156px;
  height: 496px;
}
.primary-text15 {
  position: relative;
  font-size: var(--body-2-bolder-size);
  line-height: 24px;
  color: var(--neutrals-n600);
  display: inline-block;
  width: 496px;
  height: 53px;
  flex-shrink: 0;
}
.languages,
.list-portoflio {
  position: absolute;
  display: flex;
  align-items: center;
}
.list-portoflio {
  top: 917px;
  left: 0;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 142px;
  gap: 142px;
}
.languages {
  width: calc(100% - 102px);
  top: calc(50% - 12px);
  left: 24px;
  line-height: 24px;
  font-weight: 500;
}
.normal-buttontertiarydisable4 {
  position: absolute;
  top: calc(50% - 20px);
  right: 26px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.separator-bottom {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--neutrals-n40);
  height: 1px;
  display: none;
}
.languages-parent {
  position: relative;
  width: 684px;
  height: 72px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-child {
  position: absolute;
  top: 11px;
  left: calc(50% - 50px);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.javascript4 {
  position: absolute;
  top: 76px;
  left: 12px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 98px;
  height: 24px;
}
.ellipse-parent {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--neutrals-n10);
  width: 122px;
  height: 120px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent,
.langguage-list {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.langguage-list {
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs);
  gap: var(--gap-xs);
  font-size: var(--body-3-bolder-size);
  color: var(--neutrals-n700);
}
.frame-parent {
  flex-direction: column;
  align-items: flex-start;
}
.separator-bottom1 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--neutrals-n40);
  height: 1px;
}
.skill-list {
  position: absolute;
  top: 3753px;
  left: 614px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--body-1-size);
  color: var(--neutrals-n600);
}
.im-alexandra {
  margin: 0;
}
.primary-text-txt-container {
  line-break: anywhere;
  width: 100%;
}
.primary-text16,
.primary-text17 {
  position: relative;
  width: 920px;
  flex-shrink: 0;
}
.primary-text16 {
  letter-spacing: 0.37px;
  line-height: 60px;
  display: flex;
  align-items: center;
  height: 122px;
}
.primary-text17 {
  font-size: var(--body-1-size);
  line-height: 28px;
  color: var(--neutrals-n600);
  display: inline-block;
  height: 98px;
}
.social-media1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-2-bolder-size);
  color: var(--primary-b300);
}
.header,
.text14 {
  position: absolute;
  overflow: hidden;
}
.text14 {
  top: calc(50% - 134px);
  left: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.header {
  top: 71px;
  left: 0;
  width: 1440px;
  height: 846px;
  font-size: var(--header-1-size);
}
.header-bg-icon {
  position: absolute;
  top: 119px;
  left: 34.6px;
  width: 1397.4px;
  height: 721.46px;
}
.contact-form-background-shapes {
  position: absolute;
  top: 4358.09px;
  left: 75.34px;
  width: 1290.66px;
  height: 718.7px;
}
.social-media-icons {
  position: absolute;
  height: 0.39%;
  width: 11.82%;
  top: 12.53%;
  right: 70.13%;
  bottom: 87.08%;
  left: 18.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.my-logo {
  position: relative;
  line-height: 20px;
}
.logo-placeholder {
  position: absolute;
  top: calc(50% - 20px);
  left: 143px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
}
.portfolio {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.item-navigation,
.portfolio-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.portfolio-wrapper {
  padding: var(--padding-3xs) var(--padding-xs);
}
.item-navigation {
  position: absolute;
  top: 16px;
  left: 1039px;
  gap: var(--gap-5xs);
  font-size: var(--body-3-bolder-size);
  color: var(--neutrals-n600);
}
.top-naviagation {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 72px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--primary-b400);
}
.template-1-main {
  position: relative;
  background-color: var(--theme-1-neutrals-10);
  width: 100%;
  height: 5125px;
  overflow: hidden;
  text-align: left;
  font-size: var(--header-2-size);
  color: var(--theme-1-neutrals-1);
  font-family: var(--body-3-bolder);
}
